---
import { brandsGithub } from "@ev-forge/icons";
import { Link } from "@ev-forge/components";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { LINKS, METADATA } from "../constants";

const { title } = Astro.props;
const url = Astro.url;
---

<html lang="en">
  <head>
    <!-- 1. essential metadata -->
    <meta content="text/html;" charset="UTF-8" name="Content-Type" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ?? METADATA.title}</title>

    <!-- 2. Open Graph (Facebook, LinkedIn, etc.) -->
    <meta name="title" property="og:title" content={title ?? METADATA.title} />
    <meta
      name="description"
      property="og:description"
      content={METADATA.description}
    />
    <meta name="image" property="og:image" content={METADATA.image} />
    <meta name="author" content={METADATA.author} />
    <meta property="og:url" content={Astro.url.href} />
    <meta name="keywords" content={METADATA.keywords} />

    <!-- 4. Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />

    <script>
      import "@ev-forge/icons"; // 👈 register the web component before to use it
    </script>
    <script src="../logUtilities/logsTrackingView.ts"></script>
  </head>
  <body class="bg-ev-background text-ev-foreground">
    <header
      class={`w-full ${url.pathname === "/browser" ? "bg-ev-primary text-ev-primary-contrast" : ""}`}
    >
      <div
        class="w-full max-w-[800px] mx-auto flex items-center justify-between"
      >
        <Link
          href="/"
          _variant={`${url.pathname === "/browser" ? "solid" : "flat"}`}
          className="p-1">@ev-forge/icons</Link
        >
        <Link
          href={LINKS["ev-forge-icons"]}
          _variant={`${url.pathname === "/browser" ? "solid" : "flat"}`}
          className="p-1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ev-icon svg={brandsGithub} class="text-2xl"></ev-icon>
        </Link>
      </div>
    </header>
    <slot />
    <Footer />
  </body>
</html>
