---
import {
  solidCloud,
  solidDog,
  solidParachuteBox,
  solidBiking,
  solidMale,
  solidPersonWalking,
  solidBlind,
  solidRocket,
  solidWheelchair,
  solidArrowUpRightFromSquare,
  solidFemale,
} from "@ev-forge/icons";

import { Link } from "@ev-forge/components";
import {
  ADD_TYPES_EXAMPLE,
  LINKS,
  INSTALL_EXAMPLE,
  CREATE_DTS_FILE,
  ICON_LIBRARY_REGISTER,
  REGISTER_IN_ASTRO,
  EXAMPLE_REACT,
} from "../constants";
import Layout from "../layouts/Layout.astro";
import { CodeBlock } from "../components/CodeBlock";
---

<Layout>
  <main class="flex flex-col items-center gap-10">
    <section
      class="w-full max-w-[800px] min-h-dvh p-4 flex flex-col items-center justify-center gap-4 md:gap-10"
    >
      <h1 class="text-4xl text-center text-ev-primary md:text-6xl">
        The Last Icon Library You’ll Ever Need
      </h1>
      <p class="text-center text:lg md:text-2xl">
        <span class="font-bold">@ev-forge/icons</span> is an open-source engine that unleashes
        the full power of Font Awesome's massive library with a modern: <span
          class="font-bold">perfect tree-shaking, agnostic JSX</span
        > and <span class="font-bold">community extensible</span>

        <div class="mt-[50px] flex flex-col justify-center items-center gap-4">
          <div class="relative w-full max-w-3xs">
            <ev-icon
              svg={solidDog}
              class="absolute text-base bottom-full right-24"></ev-icon>
            <ev-icon
              svg={solidPersonWalking}
              class="absolute text-2xl bottom-full right-16"></ev-icon>
            <ev-icon
              svg={solidRocket}
              class="absolute text-5xl -rotate-45 bottom-[calc(100%-8px)] right-0"
            ></ev-icon>
            <Link
              href="#get-started"
              _variant="solid"
              className="block text-center"
              >Get Started
            </Link>
          </div>

          <Link
            href={LINKS["browser-icons"]}
            className="py-1.5 px-3.5 flex items-center justify-center gap-2 border-2 border-ev-primary rounded-md"
            target="_blank"
            rel="noopener noreferrer"
            >Browse Icons<ev-icon svg={solidArrowUpRightFromSquare}></ev-icon>
          </Link>
        </div>
      </p>
    </section>

    <section id="get-started" class="w-full max-w-[800px] p-4">
      <h2 class="heading-2 text-ev-primary text-center">Getting Started</h2>

      <p class="my-4">
        <span class="font-bold">Step 1:</span> Install the package
        <CodeBlock client:only="react" code={INSTALL_EXAMPLE} lang="bash" />
      </p>
      <p class="my-4">
        <span class="font-bold">Step 2:</span> Add <code>ev-icon</code> web component
        definition into your project, you can include it into your <code
          >tsconfig.ts</code
        >
        <CodeBlock client:only="react" code={ADD_TYPES_EXAMPLE} lang="json" />
      </p>
      <p class="my-4">
        Or you can add it into a <code>ev-forge/icons.d.ts</code> file
        <CodeBlock
          client:only="react"
          code={CREATE_DTS_FILE}
          lang="typescript"
        />
      </p>
      <p class="my-4">
        <span class="font-bold">Step 3 (optional):</span> On server side rendering,
        you need to register you the <code>ev-icon</code> web component, ex in NextJs,
        create a client component
        <CodeBlock
          client:only="react"
          code={ICON_LIBRARY_REGISTER}
          lang="typescript"
        />
      </p>
      <p class="my-4">
        Other example in Astro, create client script
        <CodeBlock
          client:only="react"
          code={REGISTER_IN_ASTRO}
          lang="typescript"
        />
      </p>
      <p class="my-4">
        <span class="font-bold">Step 4:</span> Import and use it
        <CodeBlock client:only="react" code={EXAMPLE_REACT} lang="typescript" />
      </p>
    </section>
    <section class="w-full h-dvh">
      <div class="w-full h-3/5 bg-ev-primary">
        <div
          class="w-full max-w-[800px] h-full mx-auto flex flex-col items-center justify-between"
        >
          <div
            class="w-full flex-1 px-4 flex flex-col items-center justify-center"
          >
            <h2
              class="text-2xl text-center font-bold text-ev-destructive-contrast py-8 md:text-4xl"
            >
              The vision
            </h2>
            <p class="text-ev-destructive-contrast text-center">
              Imagine a future where we have an vast of valuable high quality of
              icons. Where the community define the standard of the icons with
              RFCs, where designer craft every icon and the community take
              advantage of it.
            </p>
          </div>
          <div class="relative w-full max-w-[343px] h-[140px]">
            <ev-icon
              svg={solidCloud}
              class="absolute text-ev-destructive-contrast text-3xl bottom-[107px] left-12"
            ></ev-icon>
            <ev-icon
              svg={solidCloud}
              class="absolute text-ev-destructive-contrast text-3xl bottom-[118px] left-24"
            ></ev-icon>
            <ev-icon
              svg={solidParachuteBox}
              class="absolute text-[#FFC909] text-5xl translate-x-1/2 bottom-[72px] right-1/2"
            ></ev-icon>
            <ev-icon
              svg={solidCloud}
              class="absolute text-ev-destructive-contrast text-3xl bottom-[119px] right-28"
            ></ev-icon>
            <ev-icon
              svg={solidCloud}
              class="absolute text-ev-destructive-contrast text-3xl bottom-[107px] right-24"
            ></ev-icon>
            <ev-icon
              svg={solidCloud}
              class="absolute text-ev-destructive-contrast text-3xl bottom-[107px] right-9"
            ></ev-icon>
          </div>
        </div>
      </div>
      <div class="w-full h-2/5 bg-[#93AC75]">
        <div
          class="w-full max-w-[800px] h-full mx-auto flex flex-col items-center justify-between"
        >
          <div class="relative w-full max-w-[343px] h-12">
            <ev-icon
              svg={solidDog}
              class="absolute text-base bottom-1 left-[29px]"></ev-icon>
            <ev-icon
              svg={solidPersonWalking}
              class="absolute text-2xl bottom-2 left-[49px]"></ev-icon>
            <ev-icon
              svg={solidWheelchair}
              class="absolute text-2xl bottom-11 left-[77px]"></ev-icon>
            <ev-icon
              svg={solidFemale}
              class="absolute text-2xl bottom-[26px] left-[119px]"></ev-icon>
            <ev-icon svg={solidMale} class="absolute text-2xl bottom-6 left-32"
            ></ev-icon>
            <ev-icon
              svg={solidMale}
              class="absolute text-2xl bottom-[42px] left-[137px]"></ev-icon>
            <ev-icon
              svg={solidBlind}
              class="absolute text-2xl bottom-0 right-[108px] rotate-x-370 rotate-y-200"
            ></ev-icon>
            <ev-icon
              svg={solidMale}
              class="absolute text-2xl translate-x-1/2 bottom-4 right-1/2"
            ></ev-icon>
            <ev-icon
              svg={solidMale}
              class="absolute text-2xl bottom-[26px] right-[151px]"></ev-icon>
            <ev-icon
              svg={solidFemale}
              class="absolute text-2xl bottom-[42px] right-[142px]"></ev-icon>
            <ev-icon
              svg={solidMale}
              class="absolute text-2xl bottom-7 right-[121px]"></ev-icon>
            <ev-icon
              svg={solidFemale}
              class="absolute text-2xl bottom-[30px] right-[108px]"></ev-icon>
            <ev-icon
              svg={solidBiking}
              class="absolute text-2xl bottom-[42px] right-[29px] rotate-x-360 rotate-y-220"
            ></ev-icon>
          </div>
          <p
            class="flex-1 text-center px-4 flex items-center justify-center-center font-bold h-12"
          >
            We are opening the door for a new era of creativity and
            collaboration
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
