---
import {
  svgCloudRegular,
  svgCloudSolid,
  svgDogSolid,
  svgExternalLinkAltSolid,
  svgGlobeSolid,
  svgParachuteBoxSolid,
  svgPersonBikingSolid,
  svgPersonDressSolid,
  svgPersonSolid,
  svgPersonWalkingSolid,
  svgPersonWalkingWithCaneSolid,
  svgRocketSolid,
  svgSearchSolid,
  svgWheelchairMoveSolid,
} from "@ev-forge/icons";

import {
  ADD_TYPES_EXAMPLE,
  LINKS,
  IMPORT_AND_USE_IT_EXAMPLE,
  INSTALL_EXAMPLE,
  CREATE_DTS_FILE,
  ICON_LIBRARY_REGISTER,
  REGISTER_IN_ASTRO,
  EXAMPLES_ASTRO,
} from "../constants";
import Layout from "../layouts/Layout.astro";
// import hljs from "highlight.js";
import CodeBlock from "../components/CodeBlock.astro";

// const jsExample = `
// function saludar(nombre) {
//   console.log('Hola ' + nombre + '!');
// }
// saludar('Astro');
// `;

// import("highlight.js/lib/core");

// hljs.registerLanguage('javascript', require('highlight.js/lib/languages/javascript'));
---

<Layout>
  <main class="flex flex-col items-center gap-10">
    <section
      class="w-full max-w-[800px] min-h-dvh p-4 flex flex-col items-center justify-center gap-4 md:gap-10"
    >
      <h1 class="text-4xl text-center md:text-6xl">
        The Last Icon Library You’ll Ever Need
      </h1>
      <p class="text-center text:lg md:text-2xl">
        <span class="font-bold">@ev-forge/icons</span> is an open-source engine that unleashes
        the full power of Font Awesome's massive library with a modern: <span
          class="font-bold">perfect tree-shaking, agnostic JSX</span
        > and <span class="font-bold">community extensible</span>

        <div class="pt-12 flex flex-col justify-center items-center gap-4">
          <div class="relative w-full max-w-3xs">
            <ev-icon
              svg={svgDogSolid}
              class="absolute text-base bottom-0 right-24"></ev-icon>
            <ev-icon
              svg={svgPersonWalkingSolid}
              class="absolute text-2xl bottom-0 right-16"></ev-icon>
            <ev-icon
              svg={svgRocketSolid}
              class="absolute text-5xl -rotate-45 bottom-0 right-0"></ev-icon>
          </div>

          <a
            href="#get-started"
            class="w-full max-w-3xs p-2 text-center gap-2 bg-ev-secondary rounded-md scroll-smooth"
            >Get Started
            <ev-icon svg={svgPersonWalkingSolid}></ev-icon>
          </a>
          <a
            href={LINKS["browser-icons"]}
            class="w-full max-w-3xs p-2 flex items-center justify-center gap-2 border-2 border-ev-secondary rounded-md"
            >Browse Icons<ev-icon svg={svgExternalLinkAltSolid}></ev-icon></a
          >
        </div>
      </p>
    </section>

    <section
      class="w-full max-w-[800px] p-4 flex flex-col justify-center gap-4 md:gap-10"
    >
      <h2 class="text-2xl md:text-4xl">Getting Started</h2>

      <h3>With Vite/React</h3>
      <p><span class="font-bold">Step 1:</span> Install the package</p>
      <!--  -->
      <!-- <pre>
        <code >
          npm i @ev-forge/icons
        </code>
      </pre> -->
      <!-- <CodeBlock code={jsExample} language="javascript" /> -->
      <CodeBlock code={`npm i @ev-forge/icons`} language="javascript" />
      <p>
        <span class="font-bold">Step 2:</span> Add ev-icon web component definition
        into your project, you can include it into your tsconfig
      </p>
      <CodeBlock
        code={`
        {
          "include": ["node_modules/@ev-forge/icons/dist/global.d.ts"]
        }
        `}
        language="javascript"
      />
      <!-- 
      
      -->
      <p>Or you can add it into a ev-forge/icons.d.ts file</p>
      <!-- /// <reference path="node_modules/@ev-forge/icon-library/dist/global.d.ts" /> -->
      <p>
        <span class="font-bold">Step 3 (optional):</span> On server side rendering,
        you need to register you the ev-icon web component, ex in NextJs, create
        a client component
      </p>
      <!-- 
      "use client";  import { useEffect } from "react";
      export const IconLibraryRegistry = () => { 
         useEffect(() => { 
        import("@ev-forge/icon-library"); 
        }, []);
        return null;
      };
      -->
      <p>Other example in Astro, create client script</p>
      <!-- 
      <script>
        import "@ev-forge/icon-library"; 
      </script>
       -->
      <p><span class="font-bold">Step 4:</span> Import and use it</p>
      <!--
      import { svgHomeSolid } from "@ev-forge/icon-library"; 
        const MyComponent = ()=>{
          return <div>
              <ev-icon svg={svgHomeSolid}/>
          </div>
        }
      -->
    </section>

    <section
      class="w-full max-w-[800px] h-full min-h-dvh p-4 flex flex-col justify-center gap-9 bg-linear-[180deg,#3669B5_62%,#93AC75_40%] md:gap-16"
    >
      <h2
        class="text-2xl text-center font-bold text-ev-destructive-contrast md:text-4xl"
      >
        The vision
      </h2>
      <p class="text-ev-destructive-contrast text-center">
        Imagine a future where we have an vast of valuable high quality of
        icons. Where the community define the standard of the icons with RFCs,
        where designer craft every icon and the community take advantage of it.
      </p>
      <div class="relative w-full max-w-[375px] h-48 mx-auto flex">
        <ev-icon
          svg={svgCloudSolid}
          class="absolute text-ev-destructive-contrast text-3xl top-3 left-12"
        ></ev-icon>
        <ev-icon
          svg={svgCloudSolid}
          class="absolute text-ev-destructive-contrast text-3xl top-0 left-24"
        ></ev-icon>
        <ev-icon
          svg={svgParachuteBoxSolid}
          class="absolute text-[#FFC909] text-5xl translate-x-1/2 top-3 right-1/2"
        ></ev-icon>
        <ev-icon
          svg={svgCloudSolid}
          class="absolute text-ev-destructive-contrast text-3xl top-0 right-28"
        ></ev-icon>
        <ev-icon
          svg={svgCloudSolid}
          class="absolute text-ev-destructive-contrast text-3xl top-3 right-24"
        ></ev-icon>
        <ev-icon
          svg={svgCloudSolid}
          class="absolute text-ev-destructive-contrast text-3xl top-3 right-9"
        ></ev-icon>

        <ev-icon svg={svgDogSolid} class="absolute text-base bottom-11 left-9"
        ></ev-icon>
        <ev-icon
          svg={svgPersonWalkingSolid}
          class="absolute text-2xl bottom-12 left-14"></ev-icon>
        <ev-icon
          svg={svgWheelchairMoveSolid}
          class="absolute text-2xl bottom-16 left-24"></ev-icon>
        <ev-icon
          svg={svgPersonDressSolid}
          class="absolute text-2xl bottom-14 left-[132px]"></ev-icon>
        <ev-icon
          svg={svgPersonSolid}
          class="absolute text-2xl bottom-16 left-36"></ev-icon>
        <ev-icon
          svg={svgPersonSolid}
          class="absolute text-2xl bottom-13 left-[150px]"></ev-icon>
        <ev-icon
          svg={svgPersonWalkingWithCaneSolid}
          class="absolute text-2xl bottom-11 left-[166px]"></ev-icon>
        <ev-icon
          svg={svgPersonSolid}
          class="absolute text-2xl translate-x-1/2 bottom-14 right-1/2"
        ></ev-icon>
        <ev-icon
          svg={svgPersonSolid}
          class="absolute text-2xl bottom-14 right-[151px]"></ev-icon>
        <ev-icon
          svg={svgPersonDressSolid}
          class="absolute text-2xl bottom-18 right-[142px]"></ev-icon>
        <ev-icon
          svg={svgPersonSolid}
          class="absolute text-2xl bottom-[68px] right-[121px]"></ev-icon>
        <ev-icon
          svg={svgPersonDressSolid}
          class="absolute text-2xl bottom-[70px] right-[108px]"></ev-icon>
        <ev-icon
          svg={svgPersonBikingSolid}
          class="absolute text-2xl bottom-18 right-[37px]"></ev-icon>
      </div>
      <p class="text-center font-bold">
        We are opening the door for a new era of creativity and collaboration
      </p>
    </section>
  </main>
</Layout>
