---
import {
  svgCloudRegular,
  svgCloudSolid,
  svgDogSolid,
  svgExternalLinkAltSolid,
  svgGlobeSolid,
  svgParachuteBoxSolid,
  svgPersonBikingSolid,
  svgPersonDressSolid,
  svgPersonSolid,
  svgPersonWalkingSolid,
  svgPersonWalkingWithCaneSolid,
  svgRocketSolid,
} from "@ev-forge/icons";

import { Link } from "@ev-forge/components";
import {
  ADD_TYPES_EXAMPLE,
  LINKS,
  INSTALL_EXAMPLE,
  CREATE_DTS_FILE,
  ICON_LIBRARY_REGISTER,
  REGISTER_IN_ASTRO,
  EXAMPLE_REACT,
} from "../constants";
import Layout from "../layouts/Layout.astro";
import { CodeBlock } from "../components/CodeBlock";
---

<Layout>
  <main class="flex flex-col items-center gap-10">
    <section
      class="w-full max-w-[800px] min-h-dvh p-4 flex flex-col items-center justify-center gap-4 md:gap-10"
    >
      <h1 class="text-4xl text-center md:text-6xl">
        The Last Icon Library You’ll Ever Need
      </h1>
      <p class="text-center text:lg md:text-2xl">
        <span class="font-bold">@ev-forge/icons</span> is an open-source engine that unleashes
        the full power of Font Awesome's massive library with a modern: <span
          class="font-bold">perfect tree-shaking, agnostic JSX</span
        > and <span class="font-bold">community extensible</span>

        <div class="mt-[50px] flex flex-col justify-center items-center gap-4">
          <div class="relative w-full max-w-3xs">
            <ev-icon
              svg={svgDogSolid}
              class="absolute text-base bottom-full right-24"></ev-icon>
            <ev-icon
              svg={svgPersonWalkingSolid}
              class="absolute text-2xl bottom-full right-16"></ev-icon>
            <ev-icon
              svg={svgRocketSolid}
              class="absolute text-5xl -rotate-45 bottom-[calc(100%-8px)] right-0"
            ></ev-icon>
            <Link
              href="#get-started"
              _variant="solid"
              className="block text-center"
              >Get Started
            </Link>
          </div>

          <Link
            href={LINKS["browser-icons"]}
            className="py-[6px] px-[14px] flex items-center justify-center gap-2 border-2 border-ev-primary rounded-md"
            >Browse Icons<ev-icon svg={svgExternalLinkAltSolid}></ev-icon>
          </Link>
        </div>
      </p>
    </section>

    <section class="w-full max-w-[800px] p-4">
      <h2 class="heading-2">Getting Started</h2>

      <p class="my-2">
        <span class="font-bold">Step 1:</span> Install the package
        <CodeBlock client:only="react" code={INSTALL_EXAMPLE} lang="bash" />
      </p>
      <p class="my-2">
        <span class="font-bold">Step 2:</span> Add <code>ev-icon</code> web component
        definition into your project, you can include it into your <code
          >tsconfig.ts</code
        >
        <CodeBlock client:only="react" code={ADD_TYPES_EXAMPLE} lang="json" />
      </p>
      <p class="my-2">
        Or you can add it into a <code>ev-forge/icons.d.ts</code> file
        <CodeBlock
          client:only="react"
          code={CREATE_DTS_FILE}
          lang="typescript"
        />
      </p>
      <p class="my-2">
        <span class="font-bold">Step 3 (optional):</span> On server side rendering,
        you need to register you the <code>ev-icon</code> web component, ex in NextJs,
        create a client component
        <CodeBlock
          client:only="react"
          code={ICON_LIBRARY_REGISTER}
          lang="typescript"
        />
      </p>
      <p class="my-2">
        Other example in Astro, create client script
        <CodeBlock
          client:only="react"
          code={REGISTER_IN_ASTRO}
          lang="typescript"
        />
      </p>
      <p class="my-2">
        <span class="font-bold">Step 4:</span> Import and use it
        <CodeBlock client:only="react" code={EXAMPLE_REACT} lang="typescript" />
      </p>
    </section>
  </main>
</Layout>
